{include file="admin/header.html"}
<div class="inside_nav">
	<ul class="nav nav-tabs">
	  <li class="active"><a href="#">MemCahce</a></li>
	  <li><a href="/admin/stats/multi_result.php">多服务器请求</a></li>
	  <li><a href="/admin/stats/cache.php">线上缓存</a></li>
	</ul>
</div>

<div>
	<h2 class="text-center"><small>Memcache使用情况</small></h2>
	
	<div class="text-info">
		{foreach $showArray as $server => $htmlTable}
		<div>
			<h3>{$server} 机房</h3>
			{$htmlTable}
		</div>
		{/foreach}
	</div>
</div>


{include file="admin/footer.html"}

<script>
uParse('.content', {
    rootPath: '/'
})
</script>
